/* ============================================================
    Layout
============================================================ */
body {
    margin: 0 auto;
}


/* Containers
   ========================================================================== */
.container {
    @include gs-container();
    padding: 0 $gs-gutter;
}

/* Main body
   ========================================================================== */
.main {
    padding: $gs-row-height 0;
    @include mq($from: tablet) {
        padding: $gs-row-height*2 + $gs-baseline*2 0;
    }
}


/* Content info (global footer, using common design and markup)
   ========================================================================== */
@import "layout/_footer.scss";

.guardian-logo-wrapper {
    float: left;
    line-height: 1;
}

.top {
    color: #fff;
    font-family: $sans-serif;
    @include font-size(14, 20);
    display: block;
    padding: 10px 0;
    &:hover {
        color: #fff;
        text-decoration: underline;
    }
    @include mq($from: tablet) {
        padding-top: 18px;
    }
}
.top .i-arrow-small-up {
    margin-left: $baseline*2;
    position: relative;
    top: -1px;
}