{% if post.hidden == nil %}<article class="article article--post article--post-summary">
    <header class="article__header">
        <h1 class="article__title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
    </header>

    <div class="article__main">
        <p>{{ post.summary }}</p>
    </div>

    <footer class="article__footer h-card">
        {% assign author = site.authors[post.author] %}
        <a class="u-url" href="https://twitter.com/{{ author.twitter }}">
            {% if author.gravatar %}
                <img class="u-photo" src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=120&#38;d=http://next.theguardian.com/assets/images/gravatar.png" width="60" height="60" alt=""/>
            {% elsif author.image %}
                <img class="u-photo" src="{{ author.image }}" width="60" height="60" alt="" />
            {% else %}
                <img class="u-photo" src="http://next.theguardian.com/assets/images/gravatar.png" width="60" height="60" alt="" />
            {% endif %}
            <span class="p-name">{{ author.display_name }}</span>
        </a>
        <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
    </footer>
</article>{% endif %}