---
layout: main
---
<article class="article article--post">
    <header class="article__header">
        <h1 class="article__title">{{ page.title }}</h1>
    </header>

    <div class="article__main">
        {{ content }}
    </div>

    <footer class="article__footer h-card">
        {% assign author = site.authors[page.author] %}
        <a class="u-url" href="https://twitter.com/{{ author.twitter }}">
            {% if author.gravatar %}
                <img class="u-photo" src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=120&#38;d=http://next.theguardian.com/assets/images/gravatar.png" width="60" height="60" alt=""/>
            {% elsif author.image %}
                <img class="u-photo" src="{{ author.image }}" width="60" height="60" alt="" />
            {% else %}
                <img class="u-photo" src="http://next.theguardian.com/assets/images/gravatar.png" width="60" height="60" alt="" />
            {% endif %}
            <span class="p-name">{{ author.display_name }}</span>
        </a>
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>
    </footer>

    {% comment %}
    <section class="section section--related">
        <h1 class="section__title">Related Posts</h1>

        {% for post in site.related_posts limit:3 %}
        <article class="article">
            <header class="article__header">
                <h1 class="article__title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
            </header>
            <footer class="article__footer">
                <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
            </footer>
        </article>
        {% endfor %}
    </section>
    {% endcomment %}
{% if page.discussion %}
<h2>Comments</h2>
<br />
<iframe height="600px" allowtransparency="true" frameborder="0" border="0" style="border:1px solid #ccc; padding:0 10px; max-width:720px; width:100%" role="application" horizontalscrolling="no" name="d2-iframe" src="http://discussion.theguardian.com/discussion/{{ page.discussion }}?commentpage=1&amp;orderby=oldest&amp;threads=collapsed&amp;tab=all&amp;iframe=true&amp;noposting=true"></iframe>
<p style="color:#666;"><a href="http://www.theguardian.com/{{ page.discussion}}">Click here</a> to see the comment page on theguardian.com.</p>
{% endif %}
</div>