<!DOCTYPE html>
<html lang="en-gb">

{% include head.html %}

<body style="display:none;">
    <header class="banner" role="banner">
        <div class="container">
            <h1 class="banner__title"><a rel="home" href="{{ site.baseurl }}">{{ site.title }}</a></h1>
        </div>
    </header>

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

<script>
(function() {
    var location = document.location.toString();
    var hash = location.split('#')[1]
    if(hash === "unhide") {
        var body = document.querySelector('body');
        body.style.display = 'block';
        
        var links = document.querySelectorAll('a');
        for(var i = 0; i < links.length; i++) {
            links[i].href = links[i].href + '#unhide';
        }
    }
})();
</script>
</body>
</html>
