---
layout: main
---
<article class="article article--post">
    <header class="article__header">
        <h1 class="article__title">{{ page.title }}</h1>
    </header>

    <div class="article__main">
        <div id="live-blog-name"></div>

        {{ content }}
        <script>

            window.addEventListener("load", init, false);

            var submitted = false;

            function init() {
                var node = document.getElementById("live-blog-name");
                node.innerHTML = "<p>Thanks for asking to follow <b>" + getURLParameter("blog") + "</b></p>";
            }

            function getURLParameter(name) {
                return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null;
            }

        </script>
        <iframe name="hidden" id="hidden" style="display: none;" onload="if(submitted){window.location='/thanks.html';}"></iframe>

        <form action="https://docs.google.com/forms/d/1nqtWJ6BQr_ScBGOn-PnFuxpSBHz1ZI_mh2UyeI-a7-8/formResponse" method="POST" id="ss-form" target="hidden" onsubmit="submitted=true">
            <div>
                <input type="email" name="entry.921283928" placeholder="Enter your email address" id="entry_921283928" aria-label="Enter your email address" />
                <input type="hidden" name="draftResponse" value="[,,&quot;-3900038302668457940&quot;]" />
                <input type="hidden" name="pageHistory" value="0" />
                <input type="hidden" name="fromEmail" value="false" />
    
                <input type="hidden" name="fbzx" value="-3900038302668457940" />
    
                <input type="submit" name="submit" value="Submit" id="ss-submit" />
            </div>
        </form>
    </div>

</div>
