---
layout: base
---
<div class="homepage__container">

	<div class="homepage__gradient-container">
		<div class="homepage__gradient"></div>

		<div class="container">
			<div class="homepage__section homepage__section--one">
				<img id="homepage__img1" alt="" src="/assets/images/devices.png">
				<div id="homepage__text1">
					<h2>
						{{ page.strapline }}
						<span class="dottedline"></span>
					</h2>
					<p>Join us on our journey, and help shape the future of the Guardian's digital journalism.</p>
					<a href="#" id="homepage__text1-whitelink"><i class="i i-arrow-right-white"></i>Take it for a spin</a>
					<a href="#" id="homepage__text1-bluelink"><i class="i i-arrow-right-blue"></i>Take it for a spin</a>
				</div>
			</div>			
		</div>

	</div>

	<div class="container">

			<div class="homepage__section">
				<div id="homepage__text2">
					<h2>A better reading experience</h2>
					<p>The site is designed to provide a better reading experience, with a focus on simplicity. On any mobile device, you will be presented wth a clear view of the news with minimal distraction.</p>
					<h4>See the new design in action</h4>
					<a href="#"><i class="i i-arrow-right-blue"></i>Northern lights could be visible across the UK</a>
					<a href="#"><i class="i i-arrow-right-blue"></i>Mo Farah braces himself for baptism of fire in London Marathon</a>
				</div>
				<img id="homepage__img2" alt="" src="/assets/images/browser.png">
			</div>	

			<div class="homepage__section">
				<div id="homepage__text3">
					<h2>Works across devices</h2>
					<p>Rather than designing one size for all mobile devices, you'll find our new site is responsive and will scale all the way up from mobile phone to desktop browsers.</p>
				</div>
				<img id="homepage__img3" alt="" src="/assets/images/tablet.png">
			</div>	
		</div>	
	</div>
</div>
