---
layout: base
---
<div class="homepage__container">

	<div class="homepage__gradient-container">
		<div class="homepage__gradient"></div>

		<div class="container">
			<div class="homepage__section homepage__section--one">
				<img id="homepage__img1" alt="" src="/assets/images/devices.png">
				<div id="homepage__text1">
					<h2>{{ page.strapline }}</h2>
					<span class="dottedline"></span>
					<p>Quicker than the BBC. Quicker than the NYT. A step shift in news performance.</p>
					<a href="#" id="homepage__try-ngw-link">
						<i class="i i-arrow-right-white"></i>
						<i class="i i-arrow-right-blue"></i>
						Take it for a spin
					</a>
				</div>
			</div>			
		</div>

	</div>

	<div class="container">
		{% for section in page.sections %}
            <div class="homepage__section">
				<div id="homepage__text{{ forloop.index }}">
					<h2>{{ section.title }}</h2>
					<p>{{ section.description }}</p>
					<h4>{{ section.linkheading }}</h4>
					{% for link in section.links %}
						<a href="{{ link.href }}"><i class="i i-arrow-right-blue"></i>{{ link.label }}</a>
					{% endfor %}
				</div>
				<img id="homepage__img{{ forloop.index }}" alt="" src="{{ section.image }}">
			</div>
        {% endfor %}	
	</div>
</div>
