// =============================================================================
// Global variables
// =============================================================================
$baseline: 4px;

// Colours
// =============================================================================
$c-brandBlue: #214583;
$c-nextBlue: #4BC6DF;

$c-neutral1: #333333;
$c-neutral2: #767676;
$c-neutral3: #bdbdbd;
$c-neutral4: #dcdcdc;
$c-neutral5: #e3e3db;
$c-neutral6: #edede7;
$c-neutral7: #f4f4ee;
$c-neutral8: #f6f6f6;