/* ==========================================================================
   Grouping content
   http://developers.whatwg.org/sections.html
   ========================================================================== */
html {
    font-family: $serif;
    font-size: 62.5%;
    text-rendering: optimizeLegibility;
/*  Prevent iOS text size adjust after orientation change, without disabling user zoom. */
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    position: relative;
}
body {
    color: #333;
    font-weight: 400;
    font-size: 1.6em;
    line-height: 1.5; // 24px
    background-color: #fff;
    margin: 0;
    height: 100%;
}

h1 {
    -webkit-font-smoothing: antialiased;
    font-family: $serifheadline;
    font-weight: 200;
    @include font-size(28, 32);
    text-rendering: optimizeLegibility;
    margin: 0 0 $gs-row-height 0;
    @include mq($from: tablet) {
        @include font-size(36, 40);
    }
    @include mq($from: desktop) {
        @include font-size(44, 48);
    }
}

h2 {
    -webkit-font-smoothing: antialiased;
    font-family: $serifheadline;
    @include font-size(18, 24);
    font-weight: 900;
    text-rendering: optimizeLegibility;
    @include rem((
        margin: 24px 0 0 0,
    ));
    @include mq($from: tablet) {
        @include font-size(20, 28);
        @include rem((
            margin: 28px 0 0 0,
        ));
    }
}

h3 {
    -webkit-font-smoothing: antialiased;
    font-family: $serifheadline;
    font-size: 1em; /* 16px */
    font-weight: 700;
    line-height: 1.25; /* 20px */
    text-rendering: optimizeLegibility;
    margin: 2em 0 0; /* 32px 0 0 */
}

h4 {
    -webkit-font-smoothing: antialiased;
    font-family: $serifheadline;
    font-size: 1em; /* 16px */
    font-weight: 400;
    line-height: 1.25; /* 20px */
    text-rendering: optimizeLegibility;
    margin: 2rem 0 0.5em; /* 32px 0 8px */
}

hr {
    line-height: 0;
    text-align: center;
    margin: 2em 0; /* 32px 0 */
    border: 0;
    height: 0;
    }
    hr::after {
        color: $c-neutral4;
        content: "• • •";
        letter-spacing: 0.75rem; /* 12px */
        height: 0;
    }

@media print {
    h1, h2, h3, h4 {
        page-break-after: avoid;
    }
}