//  Homepage mixins
//  ==========================================================================
@mixin homepage__circle {
    content: "";
    background-color: #fff;
    border: 1px solid $c-nextBlue;
    border-radius: 100%;
    width: 7px;
    height: 7px;
    display: block;
    position: absolute;
}

@function calcDistance($width, $center, $offset) {
    $centerMult: 1;
    @if $center { $centerMult: 0.5; }
    @return ((100% - $width)*$centerMult) + ($offset*($width/100%));
}

@mixin magic-cirlce($tablet, $desktop, $wide, $offset: 0%, $center: false, $mobileMaxWidth: none) {
    // some unnecessarily over complicated scss for the 
    // dottedline and circle style at various breakpoints
    // $tablet/$desktop/$wide = image widths at respective breakpoints
    // $offset: the % offset into the image that the circle should sit
    // $center: whether the image should be centered within its half of the screen

    $tabletDistance: calcDistance($tablet, $center, $offset);
    $desktopDistance: calcDistance($desktop, $center, $offset);
    $wideDistance: calcDistance($wide, $center, $offset);

    &:nth-child(2n+1) {
        .homepage__section-copy {
            @include mq(tablet) {
                &:before {
                    right: 0;
                }
                &:after {
                    left: - $tabletDistance;
                    @include mq(desktop) {
                        left: -$desktopDistance;
                    }
                    @include mq(wide) {
                        left: -$wideDistance;
                    }
                }
            }
        }
        @if not $center {
            @include mq(tablet) {
                .homepage__section-image {
                    margin: 0;
                }
            }
        }
    }

    &:nth-child(2n) {
        .homepage__section-copy {
            @include mq(tablet) {
                &:before {
                    left: 0;
                }
                &:after {
                    right: - $tabletDistance;
                    @include mq(desktop) {
                        right: -$desktopDistance;
                    }
                    @include mq(wide) {
                        right: -$wideDistance;
                    }
                }
            }
        }
        @if not $center {
            @include mq(tablet) {
                .homepage__section-image {
                    float: right;
                }
            }
        }
    }

    .homepage__section-copy {
        @include mq(tablet) {
            &:before {
                border-bottom: 1px dotted #86DAEB;
                content: "";
                position: absolute;
                z-index: 2;
                top: 15px;
                width: 100% + $tabletDistance;
                @include mq(desktop) {
                    width: 100% + $desktopDistance;
                }
                @include mq(wide) {
                    width: 100% + $wideDistance;
                }
            }
            &:after {
                @include homepage__circle;
                z-index: 2;
                margin-left: -3px;
                top: 12px;
            }
        }
    }

    .homepage__section-image {
        z-index: 1;
        width: 100%;
        max-width: $mobileMaxWidth;
        margin: auto;
        @include mq(tablet) {
            max-width: none;
            width: $tablet;
            position: relative;
        }
        @include mq(desktop) {
            width: $desktop;
        }
        @include mq(wide) {
            width: $wide;
        }
    }
}


/* Homepage section styles
   ========================================================================== */
.homepage__section {
    @include font-size(16, 20);
    @include clearfix();
    display: block;
    clear: both;
    position: relative;
    margin: 1em 0;
    padding-bottom: $gs-row-height;

    .homepage__section-title {
        @include font-size(24, 28);
        font-weight: normal;
        @include mq(tablet) {
            @include font-size(28, 32);
        }
        @include mq(desktop) {
            @include font-size(36, 40);
        }
        @include mq(wide) {
            @include font-size(40, 44);
        }
    }

    @include mq(tablet) {
        .homepage__section-copy,
        .homepage__section-image-container {
            width: 50%;
            position: relative;
        }

        &:nth-child(2n+1) {
            .homepage__section-copy {
                float: right;
            }
            .homepage__section-image-container {
                float: left;
            }
        }
        &:nth-child(2n) {
            .homepage__section-copy {
                float: left;
            }
            .homepage__section-image-container {
                float: right;
            }
        }
    }
}

.homepage__gradient {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #FFF),
        color-stop(0.87.5, #EDEDED),
        color-stop(0.87.5, #FFF)
    );
    background-image: -webkit-linear-gradient(bottom, #FFF 0, #EDEDED 87.5%, #FFF 87.5%);
    background-image: -moz-linear-gradient(bottom, #FFF 0, #EDEDED 87.5%, #FFF 87.5%);
    background-image: -ms-linear-gradient(bottom, #FFF 0, #EDEDED 87.5%, #FFF 87.5%);
    background-image: -o-linear-gradient(bottom, #FFF 0, #EDEDED 87.5%, #FFF 87.5%);
    background-image: linear-gradient(to bottom, #FFF 0, #EDEDED 87.5%, #FFF 87.5%);
    @include clearfix();
    overflow: hidden;
    
    @include mq(tablet) {
        margin-top: -$gs-row-height;
    }
    @include mq(tablet) {
        padding-bottom: $gs-row-height;
    }
}

.homepage__section-links {
    @include font-size(14, 20);
    margin: 1em 0;

    h4 {
        color: $c-neutral2;
        @include f-data;
        text-transform: uppercase;
    }
    a {
        @include f-data;
        display: block;
    }
    .i-arrow-right-blue {
        margin-bottom: -4px;
        margin-right: 4px;
    }
}

#homepage__try-ngw-link {
    //@include f-data;
    @include font-size(16px, 16px);
    font-weight: bold;
    margin: 0.5em 0;
    display: inline-block;

    .i-arrow-right-white,
    .i-arrow-right-blue {
        margin-bottom: -4px;
        display: none;
    }
    @include mq($to:desktop) {
        .i-arrow-right-blue {
            display: inline-block;
        }
    }
    @include mq($from:desktop) {
        color: #F3F3F3;
        @include font-size(18px, 20px);
        &:hover {
            color: white;
        }
        .i-arrow-right-white {
            display: inline-block;
        }
    }
}


/* Homepage feature sections
   ========================================================================== */
#homepage__section1 {
    @include magic-cirlce(70%, 80%, 90%, 0, true, $mobileMaxWidth: 80%);
}
#homepage__section2 {
    @include magic-cirlce(70%, 80%, 90%, -5%, true, $mobileMaxWidth: 80%);
}
#homepage__section3 {
    @include magic-cirlce(90%, 90%, 90%, 2%, false, $mobileMaxWidth: 80%);
}
#homepage__section4 {
    @include magic-cirlce(90%, 100%, 100%, 14%, false, $mobileMaxWidth: 100%);
    @include mq(tablet) {
        .homepage__section-image {
            margin-top: -10%;
        }
    }
}

/* Homepage primary introduction section
   ========================================================================== */
#homepage__section0 {
    .homepage__section-copy {
        width: 100%;
        position: relative;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        @include mq(desktop) {
            padding: 5px 8px;
            margin-left: -8px;
            background-color: #4bc6df;
            color: white;
            width: 50%;
            float: left;
            &:before {
                @include homepage__circle;
                position: absolute;
                top: -3px;
                left: 197px + 8px;
            }
        }

        .homepage__section-title {
            color: $c-nextBlue;
            @include font-size(28, 32);
            font-weight: normal;
            margin-top: 0;
            width: 100%;

            @include mq(40em) {
                @include font-size(32, 36);
                width: 60%;
            }
            @include mq(desktop) {
                color: #fff;
                @include font-size(40, 44);
                padding-bottom: 1em;
                width: auto;
            }
            @include mq(wide) {
                @include font-size(44, 48);
            }
        }

        span.dottedline {
            display: none;
            @include mq(desktop) {
                content: "";
                margin-left: 8px;
                border-bottom: 1px dotted #86DAEB;
                width: 125%;
                display: block;
                left: 0;
                position: absolute;
                z-index: 2;
                
                &:after {
                    right: 0;
                    bottom: -4px;
                    @include homepage__circle;
                }
            }
            @include mq(62.5em) {
              width: 122.5%;
            }
            @include mq(wide) {
              width: 120%;
            }
        }

        .homepage__section-description {
            @include mq(430px){
                width: 65%;
            }
            @include mq(tablet) {
                width: 50%;
            }
            @include mq(desktop) {
                width: auto;
            }
            a {
                border-bottom: 1px dotted;
                @include mq(desktop) {
                    color: white;
                    border-bottom-color: rgba(255,255,255,0.75);
                }
                &:hover {
                    border-bottom: 1px solid;
                }
            }
            br {
                line-height: 200%;
            }
        }
    }

    .homepage__section-image-container {
        img {
            max-width: 100%;
        }
        display: none;

        @include mq(430px) {
            display: block;
            width: 50%;
            margin-right: -15%;
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 0;
        }
        @include mq(tablet) {
            margin-right: 0;
        }
        @include mq(desktop) {
            max-height: 100%;
            width: auto;
            margin-right: -30%;
        }
        @include mq(62.5em) {
            margin-right: -22%;
            margin-top: -5%;
        }
        @include mq(wide) {
            margin-right: -8%;
        }
    }
}