.homepage__section {
    @include font-size(16, 20);
    @include clearfix();
    display: block;
    clear: both;
    position: relative;
    margin: 1em 0;
    padding-bottom: $gs-row-height;

    h2 {
        @include font-size(24, 28);
        font-weight: normal;
        @include mq(tablet) {
            @include font-size(28, 32);
        }
        @include mq(desktop) {
            @include font-size(36, 40);
        }
        @include mq(wide) {
            @include font-size(40, 44);
        }
    }

    @include mq(tablet) {
        .homepage__section-image-container,
        .homepage__section-copy {
            width: 50%;
            position: relative;
        }

        &:nth-child(2n+1) {
            .homepage__section-image-container {
                float: left;
            }
            .homepage__section-copy {
                float: right;
            }
        }
        &:nth-child(2n) {
            .homepage__section-image-container {
                float: right;
            }
            .homepage__section-copy {
                float: left;
            }
        }
    }
}

.homepage__gradient {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #FFF),
        color-stop(0.925, #EDEDED),
        color-stop(0.925, #FFF)
    );
    background-image: -webkit-linear-gradient(bottom, #FFF 0%, #EDEDED 92.5%, #FFF 92.5%);
    background-image: -moz-linear-gradient(bottom, #FFF 0%, #EDEDED 92.5%, #FFF 92.5%);
    background-image: -ms-linear-gradient(bottom, #FFF 0%, #EDEDED 92.5%, #FFF 92.5%);
    background-image: -o-linear-gradient(bottom, #FFF 0%, #EDEDED 92.5%, #FFF 92.5%);
    background-image: linear-gradient(to bottom, #FFF 0%, #EDEDED 92.5%, #FFF 92.5%);
    @include clearfix();
    overflow: hidden;
    
    @include mq(tablet) {
        margin-top: -$gs-row-height;
    }
}

#homepage__content {
    position: relative;
    z-index: 1;
}

@mixin homepage__circle {
    content: "";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #fff;
    border: 1px solid #86DAEB;
    border-radius: 5px;
}

.homepage__linkcontainer {
    h4 {
        color: #777;
        text-transform: uppercase;
        @include f-data;
        @include font-size(12, 14);
    }
    a {
        display: block;
        @include f-data;
        @include font-size(14, 20);
    }
    .i-arrow-right-blue {
        margin-bottom: -4px;
        margin-right: 4px;
    }
}

#homepage__text0 {
    position: relative;

    h2 {
        color: $c-nextBlue;
        @include font-size(28, 32);
        font-weight: normal;
        margin-top: 0;
        width: 100%;
        
        @include mq(40em) {
            @include font-size(32, 36);
            width: 60%;
        }
        @include mq(desktop) {
            color: #fff;
            @include font-size(40, 44);
            padding-bottom: 0.6em;
            width: auto;
        }
        @include mq(wide) {
            @include font-size(44, 48);
        }
    }

    span.dottedline {
        display: none;
        @include mq(desktop) {
            display: block;
            position: absolute;
            content: "";
            border-bottom: 1px dotted #86DAEB;
            width: 121.5%;
            left: 0;
            z-index: 2;
            margin-left: 8px;
            &:after {
                right: 0;
                bottom: -4px;
                @include homepage__circle;
            }
        }
    }
    p {
        @include mq(430px){
            width: 65%;
        }
        @include mq(tablet) {
            width: 50%;
        }
        @include mq(desktop) {
            width: auto;
        }
    }

    @include mq(desktop) {
        padding: 5px 8px;
        margin-left: -8px;
        background-color: #4bc6df;
        color: white;
        width: 50%;
        float: left;
        &:before {
            @include homepage__circle;
            position: absolute;
            top: -3px;
            left: 197px + 8px;
        }
    }
}

#homepage__try-ngw-link {
    display: inline-block;
    margin-bottom: 16px;
    @include f-data;
    font-weight: bold;
    @include font-size(14px, 18px);

    .i-arrow-right-white, .i-arrow-right-blue {
        margin-bottom: -5px;
        display: none;
    }
    @include mq($to:desktop) {
        .i-arrow-right-blue {
            display: inline-block;
        }
    }
    @include mq($from:desktop) {
        color: #fff;
        &:hover {
            color: #f3f3f3;
        }
        .i-arrow-right-white {
            display: inline-block;
        }
    }
}

#homepage__img0 {
    display: none;

    @include mq(430px) {
        display: block;
        max-width: 100%;
        width: 50%;
        margin-right: -15%;

        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 0;
    }
    @include mq(tablet) {
        margin-right: 0;
    }
    @include mq(desktop) {
        max-height: 100%;
        width: auto;
        margin-right: -20%;
    }
    @include mq(62.5em) {
        margin-right: -10%;
    }
    @include mq(wide) {
        margin-right: 0;
    }
}

@function calcDistance($width, $center, $offset) {
    $centerMult: 1;
    @if $center { $centerMult: 0.5; }
    @return ((100% - $width)*$centerMult) + ($offset*($width/100%));
}
@mixin circlemagic($tablet, $desktop, $wide, $offset: 0%, $center: false, $mobileMaxWidth: none) {
    // some unnecessarily over complicated scss for the 
    // dottedline and circle style at various breakpoints
    // $tablet/$desktop/$wide = image widths at respective breakpoints
    // $offset: the % offset into the image that the circle should sit
    // $center: whether the image should be centered within its half of the screen

    $tabletDistance: calcDistance($tablet, $center, $offset);
    $desktopDistance: calcDistance($desktop, $center, $offset);
    $wideDistance: calcDistance($wide, $center, $offset);

    &:nth-child(2n+1) {
        .homepage__section-copy {
            @include mq(tablet) {
                &:before {
                    right: 0;
                }
                &:after {
                    left: - $tabletDistance;
                    @include mq(desktop) {
                        left: -$desktopDistance;
                    }
                    @include mq(wide) {
                        left: -$wideDistance;
                    }
                }
            }
        }
        @if not $center {
            @include mq(tablet) {
                .homepage__section-image {
                    margin: 0;
                }
            }
        }
    }
    &:nth-child(2n) {
        .homepage__section-copy {
            @include mq(tablet) {
                &:before {
                    left: 0;
                }
                &:after {
                    right: - $tabletDistance;
                    @include mq(desktop) {
                        right: -$desktopDistance;
                    }
                    @include mq(wide) {
                        right: -$wideDistance;
                    }
                }
            }
        }
        @if not $center {
            @include mq(tablet) {
                .homepage__section-image {
                    float: right;
                }
            }
        }
    }

    .homepage__section-copy {
        @include mq(tablet) {
            &:before {
                border-bottom: 1px dotted #86DAEB;
                content: "";
                position: absolute;
                z-index: 2;
                top: 15px;
                width: 100% + $tabletDistance;
                @include mq(desktop) {
                    width: 100% + $desktopDistance;
                }
                @include mq(wide) {
                    width: 100% + $wideDistance;
                }
            }
            &:after {
                @include homepage__circle;
                z-index: 2;
                margin-left: -3px;
                top: 12px;
            }
        }
    }
    .homepage__section-image-container {
        margin-top: 20px;
        @include mq(tablet) {
            margin-top: 0;
        }
    }
    .homepage__section-image {
        z-index: 1;
        width: 100%;
        max-width: $mobileMaxWidth;
        margin: auto;
        @include mq(tablet) {
            max-width: none;
            width: $tablet;
            position: relative;
        }
        @include mq(desktop) {
            width: $desktop;
        }
        @include mq(wide) {
            width: $wide;
        }
    }
}

#homepage__section1 {
    @include circlemagic(70%, 80%, 90%, 0, true, $mobileMaxWidth: 80%);
}
#homepage__section2 {
    @include circlemagic(70%, 80%, 90%, -5%, true, $mobileMaxWidth: 80%);
}
#homepage__section3 {
    @include circlemagic(90%, 90%, 90%, 2%, false, $mobileMaxWidth: 80%);
}
#homepage__section4 {
    @include circlemagic(90%, 100%, 100%, 14%, false, $mobileMaxWidth: 100%);
    @include mq(tablet) {
        .homepage__section-image {
            margin-top: -10%;
        }
    }
}